[Unit]
After=docker.service mumble-server.service
BindsTo=docker.service mumble-server.service

[Service]
ExecStart=/opt/mumble-watcher/.venv/bin/python /opt/mumble-watcher/main.py
Type=exec
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
